[Unit]
Description=StreamVideo
After=multi-user.target UMC.service

[Service]
ExecStart=/usr/bin/python3 /home/pi/Robots/VideoStream/StreamServer.py

[Install]
WantedBy=multi-user.target
