[Unit]
Description=Stream Video
After=network-online.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/Robots/VideoStream/StreamServer.py
Restart=Always
User=pi

[Install]
WantedBy=network-online.target
